main{
  width: 300px;
  margin: 0 auto;
}

body{
  font-family: helvetica;
  text-align: center;
  background: #b7b7b7;
}

#bottle {
  height: 350px;
  padding-top: 25px;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

.album{
  padding: 5px;
}

h1 {
  text-align: center;
  padding-bottom: 50px;

}

